.contactUs{

    .contact_form{
        h1 {
            color: var(--primary-color);
            font-size: var(--header-title);
            padding-bottom: 1rem;
          }
          p {
            font-size: 1.2rem;
            margin-top: 1rem;
            color: var(--black-color);
          }

          .form{
            margin-top: 4rem;
            .form_input{
                margin-bottom: 20px;
  
              input,textarea{
                  padding-right: 3.5rem;
              }
  
              textarea{
                  resize: none;
              }
  
              .form_icon{
                  position: absolute;
                  right: 1.5rem;
                  top: 14px;
                }
            }

            .form_button{
                display: flex;
                justify-content: center;

                button{
                    width: 8rem;
                }
            }
          }
    }

    .contact_image {
        width: 38rem;
        margin-left: auto;
        padding-top: 10rem;
    
        @media only screen and (max-width: 992px) {
          width: auto;
          margin-left: unset;
          padding-top: unset;
        }
      }
}