.aboutUs {
  .text {
    h1 {
      color: var(--primary-color);
      font-size: var(--header-title);
      padding-bottom: 1rem;
    }
    p {
      font-size: 1.2rem;
      margin-top: 1rem;
      color: var(--black-color);
    }
    .delivered_text {
      color: var(--primary-color);
      margin-top: 4rem;
    }
  }

  .delivery_image {
    width: 38rem;
    margin-left: auto;

    @media only screen and (max-width: 992px) {
      width: auto;
      margin-left: unset;
    }
  }
}
