.D_navbar {
  background-color: var(--white-color);

  .inner {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 1rem;

    @media only screen and (max-width: 992px) {
      padding: 0 10px;
    }

    .logo {
      width: 5.2rem;
      height: auto;
      border: 1px solid var(--grey-color);
      border-radius: 50px;
      background: var(--logo-color);
      overflow: hidden;

      img {
        border: 1px solid;
        border-radius: 50px;
        transform: scale(1.5) translateY(-3px);
      }
    }

    .links {
      margin-left: auto;

      @media only screen and (max-width: 992px) {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--white-color);
        z-index: 99;
        transform: translateX(100%);
        transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      }

      &.active {
        transform: translateX(0);
        transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      }

      ul {
        display: flex;

        @media only screen and (max-width: 992px) {
          display: block;
          padding-top: 6rem;
          list-style: inside;
        }

        li {
          padding: 2rem;
          font-size: 1.2rem;
          color: var(--black-color);
          position: relative;
          overflow: hidden;
          cursor: pointer;
          letter-spacing: 0;
          transition: letter-spacing 0.4s ease;

          @media only screen and (max-width: 992px) {
            border-bottom: 1px solid #d3d3d3;
          }

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3px;
            transform: translateX(-100%);
            background-color: var(--primary-color);
            border-radius: 50px;
            transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
          }

          &:hover {
            letter-spacing: 1px;
            transition: letter-spacing 0.4s ease;
          }

          &:hover::after {
            transform: translateX(0);
            transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
          }
        }
      }
    }

    .hamburger {
      z-index: 99;
      @media only screen and (min-width: 992px) {
        display: none;
      }

      .checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 20px;
        right: 0;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
      }

      .hamburger_lines {
        display: block;
        height: 21px;
        width: 32px;
        position: absolute;
        top: 23px;
        right: 10px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: right 0.4s ease-in-out;

        .line {
          display: block;
          height: 3px;
          width: 85%;
          margin-left: auto;
          border-radius: 10px;
          background: var(--black-color);
        }

        .line1 {
          transform-origin: 0% 0%;
          transition: transform 0.4s ease-in-out;
        }

        .line2 {
          transition: transform 0.2s ease-in-out;
        }

        .line3 {
          transform-origin: 0% 100%;
          transition: transform 0.4s ease-in-out;
        }

        &.active {
          right: 5px;
          transition: right 0.4s ease-in-out;

          .line1{
            transform: rotate(45deg);
          }

          .line2{
            transform: scaleY(0);
          }

          .line3{
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}
