.D_navbar {
  background-color: var(--white-color);
}

.D_navbar .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 1rem;
}

@media only screen and (max-width: 992px) {
  .D_navbar .inner {
    padding: 0 10px;
  }
}

.D_navbar .inner .logo {
  width: 5.2rem;
  height: auto;
  border: 1px solid var(--grey-color);
  border-radius: 50px;
  background: var(--primary-color);
  overflow: hidden;
}

.D_navbar .inner .logo img {
  border: 1px solid;
  border-radius: 50px;
  -webkit-transform: scale(1.5) translateY(-3px);
          transform: scale(1.5) translateY(-3px);
}

.D_navbar .inner .links {
  margin-left: auto;
}

@media only screen and (max-width: 992px) {
  .D_navbar .inner .links {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--white-color);
    z-index: 99;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
}

.D_navbar .inner .links.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.D_navbar .inner .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 992px) {
  .D_navbar .inner .links ul {
    display: block;
    padding-top: 6rem;
    list-style: inside;
  }
}

.D_navbar .inner .links ul li {
  padding: 2rem;
  font-size: 1.2rem;
  color: var(--black-color);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  letter-spacing: 0;
  -webkit-transition: letter-spacing 0.4s ease;
  transition: letter-spacing 0.4s ease;
}

@media only screen and (max-width: 992px) {
  .D_navbar .inner .links ul li {
    border-bottom: 1px solid #d3d3d3;
  }
}

.D_navbar .inner .links ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-color: var(--primary-color);
  border-radius: 50px;
  -webkit-transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.D_navbar .inner .links ul li:hover {
  letter-spacing: 1px;
  -webkit-transition: letter-spacing 0.4s ease;
  transition: letter-spacing 0.4s ease;
}

.D_navbar .inner .links ul li:hover::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.D_navbar .inner .hamburger {
  z-index: 99;
}

@media only screen and (min-width: 992px) {
  .D_navbar .inner .hamburger {
    display: none;
  }
}

.D_navbar .inner .hamburger .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  right: 0;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.D_navbar .inner .hamburger .hamburger_lines {
  display: block;
  height: 21px;
  width: 32px;
  position: absolute;
  top: 23px;
  right: 10px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: right 0.4s ease-in-out;
  transition: right 0.4s ease-in-out;
}

.D_navbar .inner .hamburger .hamburger_lines .line {
  display: block;
  height: 3px;
  width: 85%;
  margin-left: auto;
  border-radius: 10px;
  background: var(--black-color);
}

.D_navbar .inner .hamburger .hamburger_lines .line1 {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.D_navbar .inner .hamburger .hamburger_lines .line2 {
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.D_navbar .inner .hamburger .hamburger_lines .line3 {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.D_navbar .inner .hamburger .hamburger_lines.active {
  right: 5px;
  -webkit-transition: right 0.4s ease-in-out;
  transition: right 0.4s ease-in-out;
}

.D_navbar .inner .hamburger .hamburger_lines.active .line1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.D_navbar .inner .hamburger .hamburger_lines.active .line2 {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.D_navbar .inner .hamburger .hamburger_lines.active .line3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
/*# sourceMappingURL=Narbar.module.css.map */